<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Resultados</title>
</head>

<body>
  <%- include('partials/navigation.ejs') %>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
      </div>
      <div class="container mt-4">
        <div class="card border-secondary">
          <div class="card-header">Nuevos Resultados</div>
          <div class="card-body">
            <form action="/saveResultados" method="POST">
              <div class="mb-3">
                <label for="nombreDeporte" class="form-label">Deporte</label>
                <select id="nombreDeporte" name="nombreDeporte" class="form-select" aria-label="Default select example"
                  tabindex="2" required>
                  <option value="" disabled selected>Seleccione un deporte</option>
                  <% deportes.forEach((deportes)=>{ %>
                    <option value="<%= deportes.nombreDeporte %>">
                      <%= deportes.nombreDeporte %>
                    </option>
                    <% }) %>
                </select>
              </div>
              <div class="mb-3">
                <label for="jornada" class="form-label">Jornada</label>
                <input type="number" class="form-control" id="jornada" name="jornada" tabindex="1">
              </div>
              <div class="mb-3">
                <label for="jornada" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha" tabindex="1">
              </div>
              <div class="mb-3">
                <label for="nombreEquipo1" class="form-label">Equipo Local</label>
                <select id="nombreEquipo1" name="nombreEquipo1" class="form-select" aria-label="Default select example"
                  tabindex="2" required>
                  <option value="" disabled selected>Seleccione un Equipo</option>
                  <% equipos.forEach((equipos)=>{ %>
                    <option value="<%= equipos.nombreEquipo %>">
                      <%= equipos.nombreEquipo %>
                    </option>
                    <% }) %>
                </select>
              </div>
              <div class="mb-3">
                <label for="jornada" class="form-label">Puntos Anotados</label>
                <input type="number" class="form-control" id="puntos1" name="puntos1" tabindex="1">
              </div>
              <div class="mb-3">
                <label for="nombreEquipo2" class="form-label">Equipo Visitante</label>
                <select id="nombreEquipo2" name="nombreEquipo2" class="form-select" aria-label="Default select example"
                  tabindex="2" required>
                  <option value="" disabled selected>Seleccione un Equipo</option>
                  <% equipos.forEach((equipos)=>{ %>
                    <option value="<%= equipos.nombreEquipo %>">
                      <%= equipos.nombreEquipo %>
                    </option>
                    <% }) %>
                </select>
              </div>
              <div class="mb-3">
                <label for="puntos2" class="form-label">Puntos Anotados</label>
                <input type="number" class="form-control" id="puntos2" name="puntos2" tabindex="1">
              </div>
              <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
              <a href="/resultados" class="btn btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div id="mensajes">
              <p id="mensaje"></p>
              <img class="rounded" src="/images/medioAmbiente.png" width="330" height="230">
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>

</html>