<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Crear Partido</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          >>> Partidos
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo partido</div>
                <div class="card-body">
                    <form action="/savePartido" method="POST">
                      <div class="mb-3">
                      <label for="nombreDeporte" class="form-label">Deporte</label>
                        <select id="nombreDeporte" name="nombreDeporte" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option disabled selected>Seleccione un deporte</option>
                            <% deporte.forEach((deporte)=>{ %>
                                <option value="<%= deporte.nombreDeporte %>"><%= deporte.nombreDeporte %></option>
                            <% }) %>
                        </select>
                      </div>

                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha del partido</label>
                           
                                   

                                        <input required type="datetime-local" class="form-control" id="fecha" name="fecha" tabindex="1">
                                
                                </select>
                            </div>
                            <div class="mb-3">
                            <label for="codEstadio" class="form-label">Estadio</label>
                        <select id="codEstadio" name="codEstadio" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option disabled selected>Seleccione un estadio</option>
                            <% estadios.forEach((estadio)=>{ %>
                                <option value="<%= estadio.nombreEstadio %>"><%= estadio.nombreEstadio %></option>
                            <% }) %>
                        </select>
                      </div>

                      

                      <div class="mb-3">
                        <label for="codEquipo1" class="form-label">Equipo Local</label>
                        <select id="codEquipo1" name="nombreEquipo1" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option disabled selected>Seleccione un equipo</option>
                            <% equipos.forEach((equipo)=>{ %>
                                <option value="<%= equipo.nombreEquipo %>">
                                    <%= equipo.nombreEquipo %>  %> 
                            </option>
                            <% }) %>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="codEquipo2" class="form-label">Equipo Visitante</label>
                        <select id="codEquipo2" name="nombreEquipo2" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option disabled selected>Seleccione un equipo</option>
                            <% equipos.forEach((equipo)=>{ %>
                                <option value="<%= equipo.nombreEquipo %>"><%= equipo.nombreEquipo %></option>
                            <% }) %>
                        </select>
                      </div>
                       
                               
                        <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/partidos" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
    <section class="home-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 mx-auto">
              <div id="mensajes">
                <p id="mensaje"></p>
                <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/scripts.ejs') %>

</body>
</html>