<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar Jugador</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (jugador) { %>
        <section class="home-section">
          <div class="home-content">
            <i class='bx bx-menu' ></i>
          </div>
        
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Jugador</div>
                <div class="card-body">
                    <form action="/updateJugador" method="POST">
                         <input id="codJugador" name="codJugador" value="<%= jugador.codJugador %>" hidden>
                        <div class="mb-3">
                          <label for="nombreJugador" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombreJugador" name="nombreJugador" tabindex="1" value="<%= jugador.nombreJugador  %>">                        
                        </div> 
                        <div class="mb-3">
                          <label for="carrera" class="form-label">Carrera</label>
                          <select id="nombreCarrera" name="nombreCarrera" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option selected value="<%= jugador.nombreCarrera %>"><%= jugador.nombreCarrera %></option>
                            <% carrera.forEach((carrera)=>{ %>
                                <option value="<%= carrera.nombreCarrera %>"><%= carrera.nombreCarrera %></option>
                            <% }) %>
                            
                        </select>
                        </div> 
                       
                        <div class="mb-3">
                          <label for="equipo" class="form-label">Equipo</label>
                          <select id="nombreEquipo" name="nombreEquipo" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <option selected value="<%= jugador.nombreEquipo %>"><%= jugador.nombreEquipo %></option>
                            <% equipo.forEach((equipo)=>{ %>
                                <option value="<%= equipo.nombreEquipo %>"><%= equipo.nombreEquipo %></option>
                            <% }) %>
                            
                        </select>
                        </div> 
                          <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/jugadores" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
        </section>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mx-auto">
                    <div id="mensajes">
                        <p id="mensaje"></p>
                        <img class="rounded" src="/images/medioAmbiente.png" width="330" height="230">
                    </div>
                </div>
            </div>
        </div>
    </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>