<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#" />
    <title>Tutorial DataTables</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../js/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../../js/main.css">

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="../../js/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css"
        href="../../js/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">

    <!--font awesome con CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>
    <style>
        
        .carousel-container {
            width: 100%;
            overflow: hidden;
        }

        .carousel-slide {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-slide img {
            width: 150px;
            /* Ajusta el tamaño de los logos según sea necesario */
            margin: 0 10px;
        }
    </style>

    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="" alt="Logos" draggable="false">
            <!-- Agrega más imágenes de logos según sea necesario -->
        </div>
    </div>




    <% if (eliminatorias.length> 0) { %>
        <div class="container mt-3 mb-3">
            <% var deporteActual = ""; %>
            <h2 class="text-center"><%= eliminatorias[0].nombreTorneo %></h2>
            <% eliminatorias.forEach((fila) => {
              if (fila.nombreDeporte !== deporteActual) { %>
                <% deporteActual = fila.nombreDeporte; %>
                <h2 class="text-center">TABLA DE POSICIONES</h2>
                <h2 class="text-center titulosRankings"><%= deporteActual %></h2>
                <div class="table-responsive">
                <table class="rankingPosiciones table table-bordered table-striped text-center mt-4">
                  <thead>
                    <tr class="bg-primary text-white">
                      <th class="position-sticky posiciones-th" style="left: 0;" scope="col">Equipo</th>
                      <th scope="col">PJ</th>
                        <th scope="col">PG</th>
                        <th scope="col">PE</th>
                        <th scope="col">PP</th>
                        <th scope="col">GF</th>
                        <th scope="col">GC</th>
                        <th scope="col">DIF</th>
                        <th scope="col">PTS</th>
                    </tr>
                  </thead>
                  <tbody>
              <% } %>
                    <tr>
                      <td class="position-sticky equipo-td" style="left: 0"><%= fila.nombreEquipo %></td>
                      <td>
                        <%= fila.juegos_jugados %>
                      </td>
                      <td>
                        <%= fila.juegos_ganados %>
                      </td>
                      <td>
                        <%= fila.juegos_empate %>
                      </td>
                      <td>
                        <%= fila.juegos_perdidos %>
                      </td>
                      <td>
                        <%= fila.goles_a_favor %>
                      </td>
                      <td>
                        <%= fila.goles_en_contra %>
                      </td>
                      <td>
                        <%= fila.diferencia_goles%>
                      </td>
                      <td>
                        <%= fila.puntos%>
                      </td>
                    </tr>
              <% if (eliminatorias.indexOf(fila) === eliminatorias.length - 1 || fila.nombreDeporte !== eliminatorias[eliminatorias.indexOf(fila) + 1].nombreDeporte) { %>
                  </tbody>
                </table>
            </div>
              <% } %>
            <% }) %>
          </div>
          <% } %>
          



    <!-- código JS propìo-->

    <script>
        const carouselSlide = document.querySelector('.carousel-slide');
        const carouselImages = document.querySelectorAll('.carousel-slide img');

        // Configuración del carrusel
        let counter = 1;
        const slideWidth = carouselImages[0].clientWidth;
        const minSlide = 3; // Cantidad mínima antes de empezar el desplazamiento

        // Clonar los primeros logos y agregarlos al final para hacer el desplazamiento continuo
        carouselSlide.appendChild(carouselImages[0].cloneNode(true));
        carouselSlide.appendChild(carouselImages[1].cloneNode(true));

        // Mueve las imágenes hacia la izquierda al avanzar
        function nextSlide() {
            if (counter >= carouselImages.length - minSlide) {
                counter = 1;
                carouselSlide.style.transition = 'none';
                carouselSlide.style.transform = `translateX(${-slideWidth * counter}px)`;
                setTimeout(() => {
                    carouselSlide.style.transition = 'transform 0.5s ease-in-out';
                    counter++;
                    carouselSlide.style.transform = `translateX(${-slideWidth * counter}px)`;
                }, 50);
            } else {
                setTimeout(() => {
                    carouselSlide.style.transition = 'transform 0.5s ease-in-out';
                    counter++;
                    carouselSlide.style.transform = `translateX(${-slideWidth * counter}px)`;
                }, 50);
            }
        }

        // Mueve las imágenes hacia la derecha al retroceder
        function prevSlide() {
            if (counter <= 0) return;
            counter--;
            carouselSlide.style.transition = 'transform 0.5s ease-in-out';
            carouselSlide.style.transform = `translateX(${-slideWidth * counter}px)`;
        }

        // Inicia el carrusel automáticamente después de un tiempo especificado (por ejemplo, 10 segundos)
        setTimeout(() => {
            setInterval(nextSlide, 10000);
        }, 3000);



    </script>


</body>

</html>