<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Google Analitycs -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-45JXRHZ9MB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-45JXRHZ9MB');
  </script>
  <%- include('partials/headHome.ejs') %>
    <title>Home - UCAB SPORT</title>
    
</head>

<body>

  <div class="preloader">
    <div class="spinner"></div>
  </div>
  <div class="content">
    <%- include('partials/navHome.ejs') %>

      <%- include('partials/sliders.ejs') %>

      <% if (deportes.length> 0) { %>
        <%- include('partials/rankingsDisponibles.ejs') %>
    <% } %>

          <!-- tabla de posiciones -->
          <!-- si no hay tabla, no mostrar nada -->
          <% if (eliminatoria.length> 0) { %>
            <div class="container mt-3 mb-3">
              <div class="row">
                <div class="col-12 col-md-10 col-lg-10 mt-3 mx-auto">
                  <h2 class="text-center"><%= eliminatoria[0].nombreTorneo %></h2>
                  <h2 class="text-center">Tabla de posiciones</h2>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
                      <thead>
                        <tr class="bg-primary text-white">
                          <th scope="col" class="position-sticky" style="left: 0">Equipo</th>
                          <th scope="col">PJ</th>
                          <th scope="col">PG</th>
                          <th scope="col">PE</th>
                          <th scope="col">PP</th>
                          <th scope="col">GF</th>
                          <th scope="col">GC</th>
                          <th scope="col">DIF</th>
                          <th scope="col">PTS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% eliminatoria.forEach((elim)=>{ %>
                          <tr>
                            <td>
                              <%= elim.nombreEquipo %>
                            </td>
                            <td>
                              <%= elim.juegos_jugados %>
                            </td>
                            <td>
                              <%= elim.juegos_ganados %>
                            </td>
                            <td>
                              <%= elim.juegos_empate %>
                            </td>
                            <td>
                              <%= elim.juegos_perdidos %>
                            </td>
                            <td>
                              <%= elim.goles_a_favor %>
                            </td>
                            <td>
                              <%= elim.goles_en_contra %>
                            </td>
                            <td>
                              <%= elim.diferencia_goles%>
                            </td>
                            <td>
                              <%= elim.puntos%>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
              <!-- Si no hay partidos, no mostrar nada aquii  -->
              <% if (partidos.length> 0) { %>
                <section style="background-color:#19115e">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 mt-5">
                        <h2 class="text-center text-white"><%= partidos[0].nombreTorneo %></h2>
                        <h2 class="text-center text-white">Próximos Partidos</h2>
                      </div>
                      <% partidos.forEach((partidos,i)=>{ %>
                        <div class="col-12 mt-5">
                          <h3 class="text-white text-center">
                             <%= partidos.nombreDeporte %>
                          </h3>
                          <div class="matchup-container d-flex justify-content-center align-items-center">
                            <div class="team-container">
                              <img src="<%= partidos.imagen1 ? partidos.imagen1 : 'images/logo-wolfleague.png' %>"
                                alt="<%= partidos.equipo1 %>">
                              <h4 class="text-white text-center tituloEquipo">
                                <%= partidos.equipo1 %>
                              </h4>
                            </div>
                            <div class="vs text-white">VS</div>
                            <div class="team-container">
                              <img src="<%= partidos.imagen2 ? partidos.imagen2 : 'images/logo-wolfleague.png' %>"
                                alt="<%= partidos.equipo2 %>">
                              <h4 class="text-white text-center tituloEquipo">
                                <%= partidos.equipo2 %>
                              </h4>
                            </div>
                          </div>
                          <div class="text-center mt-5">
                            <h5 class="text-white">
                              <%= new Date(partidos.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partidos.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %><i class='bx bxs-calendar'></i>
                            </h5>
                          </div>
                          <div class="text-center">
                            <h5 class="text-white">
                              <%= partidos.nombreEstadio %> <i class='bx bxs-map-pin'></i>
                            </h5>
                          </div>
                        </div>
                        <div class="separator"></div>
                        <% }) %>
                    </div>
                  </div>
                </section>
                <% } %>
                  <!-- Si no hay resultados, no mostrar nada -->
                  <% if (resultados.length> 0) { %>
                    <div class="container text-center mt-5 mb-5">
                      <h2 class="text-center">Resultados Clasificatoria - <%= resultados[0].nombreTorneo %></h2>
                    </div>
                      <div class="col-md-3 mx-auto ms-5 me-5 text-center">
                        <select class="form-select border-3" aria-label="Default select example" id="selectJornada">
                          <% const idMap=new Map(); %>
                            <% resultados.forEach((resultado, index)=> { %>
                              <% if (!idMap.has(resultado.jornada)) { %>
                                <option selected data-tab-id="<%= resultado.jornada %>"
                                  class="tablinks <%= index === resultados.length - 1 ? 'active' : '' %>"
                                  onclick="openTab(event, '<%= resultado.jornada %>')" value="<%= resultado.jornada %>">
                                  Jornada - <%= resultado.jornada %>
                                </option>
                                <% idMap.set(resultado.jornada, true); %>
                                  <% } %>
                                    <% let lastJornada=resultado.jornada %> %>
                                      <% }); %>
                        </select>
                      </div>
                      <% } %>

                      <% let lastJornada=null; %>
                        <% resultados.forEach((resultado, index)=> { %>
                          <% if (resultado.jornada !==lastJornada) { %>
                            <div id="<%= resultado.jornada %>"
                              class="tabcontent <%= index === resultados.length - 1 ? 'show' : '' %>">
                              <% } %>
                                <div class="d-flex flex-wrap text-center justify-content-center align-items-center">
                                  <h2 class="text-center TituloJornada"><%= new Date(resultado.fecha).toLocaleDateString('es-ES') %> - <%= new Date(resultado.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>
                                  </h2>
                                </div>
                                <div class="matchup-container d-flex justify-content-center align-items-center">
                                  <div class="team-container">
                                    <img
                                      src="<%= resultado.imagen1 ? resultado.imagen1 : 'images/logo-wolfleague.png' %>"
                                      alt="Logo del equipo 1">
                                    <h4 class="text-center tituloEquipo">
                                      <%= resultado.equipo1 %>
                                    </h4>
                                  </div>
                                  <div class="vs">
                                    <%= resultado.puntos1 %> - <%= resultado.puntos2 %>
                                  </div>
                                  <div class="team-container">
                                    <img
                                      src="<%= resultado.imagen2 ? resultado.imagen2 : 'images/logo-wolfleague.png' %>"
                                      alt="Logo del equipo 2">
                                    <h4 class="text-center tituloEquipo">
                                      <%= resultado.equipo2 %>
                                    </h4>
                                  </div>
                                </div>

                                <% if (index===resultados.length - 1 || resultado.jornada
                                  !==resultados[index+1].jornada) { %>
                            </div>
                            <% } %>
                              <% lastJornada=resultado.jornada; %>
                                <% }); %>

                                  <!-- Eliminatoria Torneo -->
                                <% if (partidosTorneos.length> 0) { %>
                                  <div class="container">
                                    <h1>Eliminatoria</h1>
                                    <div class="tournament-bracket tournament-bracket--rounded">
                                      <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
                                        <h3 class="tournament-bracket__round-title">Cuartos De Final</h3>
                                        <ul class="tournament-bracket__list">
                                          <% var partidosCuartos = partidosTorneos.filter(function(partido) { 
                                            return partido.etapa === "CUARTOS DE FINAL";
                                          }); %>
                                         <% var partidosPorDefinir = 4; %>
                                          <% partidosCuartos.forEach((partido,i)=>{ %>
                                            <li class="tournament-bracket__item">
                                              <div class="tournament-bracket__match" tabindex="0">
                                                <table class="tournament-bracket__table">
                                                  <caption class="tournament-bracket__caption">
                                                    <time datetime="<%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>">
                                                      <%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>
                                                    </time>
                                                    <% var fechaPartido=new Date(partido.fecha); %>
                                                    <% if (fechaPartido> new Date()) { %>
                                                      <br>
                                                        <time>Próximamente</time>
                                                    <% } %>
                       
                                                  </caption>
                                                  <tbody class="tournament-bracket__content">
                                                    <tr class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"><img width="50px"
                                                            height="50px"
                                                            src="<%= partido.imagen1 ? partido.imagen1 : 'images/logo-wolfleague.png' %>"
                                                            alt="<%= partido.equipo1 %>"></abbr>
                                                        <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">
                                                          <%= partido.puntos1 %>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"><img width="50px"
                                                            height="50px"
                                                            src="<%= partido.imagen2 ? partido.imagen2 : 'images/logo-wolfleague.png' %>"
                                                            alt="<%= partido.equipo2 %>"></abbr>
                                                        <span class="tournament-bracket__flag flag-icon flag-icon-kz"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">
                                                          <%= partido.puntos2 %>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </li>
                                              <% partidosPorDefinir--; %>
                                            <% }) %>
                                            <% for (var i = 0; i < partidosPorDefinir; i++) { %>
                                              <li class="tournament-bracket__item">
                                                <div class="tournament-bracket__match" tabindex="0">
                                                  <table class="tournament-bracket__table">
                                                    <caption class="tournament-bracket__caption">
                                                      <time datetime="Por definir">Por definir</time>
                                                    </caption>
                                                    <tbody class="tournament-bracket__content">
                                                      <tr class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                          <span
                                                            class="tournament-bracket__flag flag-icon flag-icon-fi"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number">0</span>
                                                        </td>
                                                      </tr>
                                                      <tr
                                                        class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"
                                                            ><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                          <span
                                                            class="tournament-bracket__flag flag-icon flag-icon-ru"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number">0</span>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </li>
                                            <% } %>
                                           
                                        </ul>
                                      </div>
                                      <div class="tournament-bracket__round tournament-bracket__round--semifinals">
                                        <h3 class="tournament-bracket__round-title">Semifinal</h3>
                                        <ul class="tournament-bracket__list">
                                          <% var partidosSemi = partidosTorneos.filter(function(partido) { 
                                            return partido.etapa === "SEMIFINAL";
                                          }); %>
                                         <% var partidoSemi = 2; %>
                                         <% partidosSemi.forEach((partido,i)=>{ %>
                                              <li class="tournament-bracket__item">
                                                <div class="tournament-bracket__match" tabindex="0">
                                                  <table class="tournament-bracket__table">
                                                    <caption class="tournament-bracket__caption">
                                                      <time datetime="<%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>"><%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %></time>
                                                      <% var fechaPartido=new Date(partido.fecha); %>
                                                      <% if (fechaPartido> new Date()) { %>
                                                        <br>
                                                          <time>Próximamente</time>
                                                      <% } %>
                                                    </caption>

                                                    <tbody class="tournament-bracket__content">
                                                      <tr class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"
                                                            ><img width="50px"
                                                            height="50px"
                                                            src="<%= partido.imagen1 ? partido.imagen1 : 'images/logo-wolfleague.png' %>"
                                                            alt="<%= partido.equipo1 %>"></abbr>
                                                          <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number"><%= partido.puntos1 %></span>
                                                        </td>
                                                      </tr>
                                                      <tr
                                                        class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"><img width="50px"
                                                            height="50px"
                                                            src="<%= partido.imagen2 ? partido.imagen2 : 'images/logo-wolfleague.png' %>"
                                                            alt="<%= partido.equipo1 %>"></abbr>
                                                          <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number"><%= partido.puntos2 %></span>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </li>
                                              <% partidoSemi--; %>
                                            <% }) %>
                                            <% for (var i = 0; i < partidoSemi; i++) { %>
                                              <li class="tournament-bracket__item">
                                                <div class="tournament-bracket__match" tabindex="0">
                                                  <table class="tournament-bracket__table">
                                                    <caption class="tournament-bracket__caption">
                                                      <time datetime="Por definir">Por definir</time>
                                                    </caption>

                                                    <tbody class="tournament-bracket__content">
                                                      <tr class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                          <span
                                                            class="tournament-bracket__flag flag-icon flag-icon-fi"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number">0</span>
                                                        </td>
                                                      </tr>
                                                      <tr
                                                        class="tournament-bracket__team">
                                                        <td class="tournament-bracket__country">
                                                          <abbr class="tournament-bracket__code"
                                                            ><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                          <span
                                                            class="tournament-bracket__flag flag-icon flag-icon-ru"
                                                            aria-label="Flag"></span>
                                                        </td>
                                                        <td class="tournament-bracket__score">
                                                          <span class="tournament-bracket__number">0</span>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </li>
                                            <% } %>
                                                  

                                        </ul>
                                      </div>
                                      <div class="tournament-bracket__round tournament-bracket__round--bronze">
                                        <h3 class="tournament-bracket__round-title">Tercer Lugar</h3>
                                        <ul class="tournament-bracket__list">
                                          <% var partidoTercer = partidosTorneos.filter(function(partido) { 
                                            return partido.etapa === "TERCER LUGAR";
                                          }); %>
                                         <% var tecerlugar = 1; %>
                                         <% partidoTercer.forEach((partido,i)=>{ %>
                                          <li class="tournament-bracket__item">
                                            <div class="tournament-bracket__match" tabindex="0">
                                              <table class="tournament-bracket__table">
                                                <caption class="tournament-bracket__caption">
                                                  <time datetime="<%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>"><%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %></time>
                                                  <% var fechaPartido=new Date(partido.fecha); %>
                                                  <% if (fechaPartido> new Date()) { %>
                                                    <br>
                                                      <time>Próximamente</time>
                                                  <% } %>
                                                </caption>

                                                <tbody class="tournament-bracket__content">
                                                  <tr class="tournament-bracket__team">
                                                    <td class="tournament-bracket__country">
                                                      <abbr class="tournament-bracket__code"
                                                        ><img width="50px"
                                                        height="50px"
                                                        src="<%= partido.imagen1 ? partido.imagen1 : 'images/logo-wolfleague.png' %>"
                                                        alt="<%= partido.equipo1 %>"></abbr>
                                                      <span class="tournament-bracket__flag flag-icon flag-icon-fi"
                                                        aria-label="Flag"></span>
                                                    </td>
                                                    <td class="tournament-bracket__score">
                                                      <span class="tournament-bracket__number"><%= partido.puntos1 %></span>
                                                      <span
                                                        class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy"
                                                        aria-label="Tercer lugar"></span>
                                                    </td>
                                                  </tr>
                                                  <tr class="tournament-bracket__team">
                                                    <td class="tournament-bracket__country">
                                                      <abbr class="tournament-bracket__code"
                                                       ><img width="50px"
                                                        height="50px"
                                                        src="<%= partido.imagen2 ? partido.imagen2 : 'images/logo-wolfleague.png' %>"
                                                        alt="<%= partido.equipo2 %>"></abbr>
                                                      <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                                        aria-label="Flag"></span>
                                                    </td>
                                                    <td class="tournament-bracket__score">
                                                      <span class="tournament-bracket__number"><%= partido.puntos2 %></span>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </li>
                                          <% tecerlugar--; %>
                                          <% }) %>
                                          <% for (var i = 0; i < tecerlugar; i++) { %>
                                            <li class="tournament-bracket__item">
                                              <div class="tournament-bracket__match" tabindex="0">
                                                <table class="tournament-bracket__table">
                                                  <caption class="tournament-bracket__caption">
                                                    <time datetime="Por definir">Por definir</time>
                                                  </caption>

                                                  <tbody class="tournament-bracket__content">
                                                    <tr class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                        <span
                                                          class="tournament-bracket__flag flag-icon flag-icon-fi"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">0</span>
                                                      </td>
                                                    </tr>
                                                    <tr
                                                      class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"
                                                          ><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                        <span
                                                          class="tournament-bracket__flag flag-icon flag-icon-ru"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">0</span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </li>
                                          <% } %>
                                        </ul>



                                      </div>
                                      <div class="tournament-bracket__round tournament-bracket__round--gold">
                                        <h3 class="tournament-bracket__round-title">Final</h3>
                                        <ul class="tournament-bracket__list">
                                          <% var partidoFinal = partidosTorneos.filter(function(partido) { 
                                            return partido.etapa === "FINAL";
                                          }); %>
                                         <% var final = 1; %>
                                         <% partidoFinal.forEach((partido,i)=>{ %>
                                          <li class="tournament-bracket__item">
                                            <div class="tournament-bracket__match" tabindex="0">
                                              <table class="tournament-bracket__table">
                                                <caption class="tournament-bracket__caption">
                                                  <time datetime="<%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %>"><%= new Date(partido.fecha).toLocaleDateString('es-ES') %> - <%= new Date(partido.fecha).toLocaleString("en-US", {hour12: true, hour: "numeric", minute: "numeric"}) %></time>
                                                  <% var fechaPartido=new Date(partido.fecha); %>
                                                  <% if (fechaPartido> new Date()) { %>
                                                    <br>
                                                      <time>Próximamente</time>
                                                  <% } %>
                                                </caption>

                                                <tbody class="tournament-bracket__content">
                                                  <tr class="tournament-bracket__team">
                                                    <td class="tournament-bracket__country">
                                                      <abbr class="tournament-bracket__code"
                                                        ><img width="50px"
                                                        height="50px"
                                                        src="<%= partido.imagen1 ? partido.imagen1 : 'images/logo-wolfleague.png' %>"
                                                        alt="<%= partido.equipo1 %>"></abbr>
                                                      <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                                        aria-label="Flag"></span>
                                                    </td>
                                                    <td class="tournament-bracket__score">
                                                      <span class="tournament-bracket__number"><%= partido.puntos1 %></span>
                                                      <span
                                                        class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                                                        aria-label="Gold medal"></span>
                                                    </td>
                                                  </tr>
                                                  <tr class="tournament-bracket__team">
                                                    <td class="tournament-bracket__country">
                                                      <abbr class="tournament-bracket__code"
                                                        ><img width="50px"
                                                        height="50px"
                                                        src="<%= partido.imagen2 ? partido.imagen2 : 'images/logo-wolfleague.png' %>"
                                                        alt="<%= partido.equipo2 %>"></abbr>
                                                      <span class="tournament-bracket__flag flag-icon flag-icon-ru"
                                                        aria-label="Flag"></span>
                                                    </td>
                                                    <td class="tournament-bracket__score">
                                                      <span class="tournament-bracket__number"><%= partido.puntos2 %></span>
                                                      <span
                                                        class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                                                        aria-label="Silver medal"></span>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </li>
                                          <% final--; %>
                                          <% }) %>
                                          <% for (var i = 0; i < final; i++) { %>
                                            <li class="tournament-bracket__item">
                                              <div class="tournament-bracket__match" tabindex="0">
                                                <table class="tournament-bracket__table">
                                                  <caption class="tournament-bracket__caption">
                                                    <time datetime="Por definir">Por definir</time>
                                                  </caption>

                                                  <tbody class="tournament-bracket__content">
                                                    <tr class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                        <span
                                                          class="tournament-bracket__flag flag-icon flag-icon-fi"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">0</span>
                                                      </td>
                                                    </tr>
                                                    <tr
                                                      class="tournament-bracket__team">
                                                      <td class="tournament-bracket__country">
                                                        <abbr class="tournament-bracket__code"
                                                          ><img width="40px" height="40px" src="images/ShieldGray.png"></abbr>
                                                        <span
                                                          class="tournament-bracket__flag flag-icon flag-icon-ru"
                                                          aria-label="Flag"></span>
                                                      </td>
                                                      <td class="tournament-bracket__score">
                                                        <span class="tournament-bracket__number">0</span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </li>
                                          <% } %>
                                        </ul>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
<% }; %>

                                  <!-- Fin eliminatoria torneo -->
                                  
                                  
                                  <%- include('partials/seccionNoticias.ejs') %>



                                  <%- include('partials/footer.ejs') %>
                                    <script>
                                      miSelect = document.getElementById('selectJornada');
                                      miSelect.addEventListener('change', function () {
                                        var id = this.options[this.selectedIndex].getAttribute('data-tab-id');
                                        openTab(null, id);
                                      });
                                      const tabs = document.querySelectorAll('.tablinks');
                                      const tabContents = document.querySelectorAll('.tabcontent');
                                      function openTab(event, tabId) {
                                        // Ocultamos todos los contenidos de las pestañas
                                        tabContents.forEach(content => content.style.display = 'none');
                                        // Quitamos la clase 'active' de todos los botones tabuladores
                                        tabs.forEach(tab => tab.classList.remove('active'));
                                        // Mostramos el contenido de la pestaña seleccionada
                                        document.getElementById(tabId).style.display = 'block';
                                        // si el event es nulo entonces, se muestra la ultima jornada
                                        if (event) {
                                          // Agregamos la clase 'active' al botón tabulador seleccionado
                                          event.currentTarget.classList.add('active');
                                        } else {
                                          // Obtenemos el último botón tabulador
                                          const lastTab = tabs[tabs.length - 1];
                                          // Obtenemos el id de la última pestaña
                                          const lastTabId = lastTab.getAttribute('data-tab-id');
                                          // Agregamos la clase 'active' al último botón tabulador
                                          lastTab.classList.add('active');
                                        }

                                        // Si no se ha seleccionado ninguna pestaña al inicio, mostramos la última
                                        if (!tabId) {
                                          // Obtenemos el último botón tabulador
                                          const lastTab = tabs[tabs.length - 1];
                                          // Obtenemos el id de la última pestaña
                                          const lastTabId = lastTab.getAttribute('data-tab');
                                          // Mostramos el contenido de la última pestaña
                                          document.getElementById(lastTabId).style.display = 'block';
                                          // Agregamos la clase 'active' al último botón tabulador
                                          lastTab.classList.add('active');
                                        }
                                      }

                                      // obtener el id de la ultima jornada
                                      const lastTab = tabs[tabs.length - 1];
                                      const lastTabId = lastTab.getAttribute('data-tab-id');
                                      // Mostramos por defecto la última jornada
                                      openTab(null, lastTabId);
                                      // Añadimos el evento 'click' a cada botón tabulador
                                      tabs.forEach(tab => {
                                        tab.addEventListener('click', event => {
                                          // Obtenemos el id de la pestaña correspondiente al botón tabulador
                                          const tabId = event.currentTarget.getAttribute('data-tab-id');
                                          // Mostramos el contenido de la pestaña correspondiente
                                          openTab(event, tabId);
                                        });
                                      });
                                    </script>
















  </div> <!-- cierre de contenido de preloader -->



  <%- include('partials/scripts2.ejs') %>
    <script>

      $(document).ready(function () {

        // definir ganadores

        // Obtenemos todos los elementos tbody que tienen dos elementos tr con la clase tournament-bracket__team
        const tbodies = document.querySelectorAll('tbody:has(.tournament-bracket__team:first-child):has(.tournament-bracket__team:last-child)');

        // Iteramos por cada tbody
        tbodies.forEach(tbody => {
          // Obtenemos los dos elementos tr con la clase tournament-bracket__team
          const [team1, team2] = tbody.querySelectorAll('.tournament-bracket__team');

          // Obtenemos los valores numéricos de ambos equipos
          const value1 = parseFloat(team1.textContent);
          const value2 = parseFloat(team2.textContent);

          // Comparamos los valores y añadimos la clase tournament-bracket__team--winner al equipo con el valor más alto
          if (value1 > value2) {
            team1.classList.add('tournament-bracket__team--winner');
            team2.classList.remove('tournament-bracket__team--winner');
          } else if (value2 > value1) {
            team2.classList.add('tournament-bracket__team--winner');
            team1.classList.remove('tournament-bracket__team--winner');
          }
        });

        // fin definir ganadores



        let tabla = $('#miTabla').DataTable({
          "paging": true,
          "pagingType": "simple",
          order: [[8, "desc"]],
          lengthChange: false,
          pageLength: 10,
          lengthMenu: [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, 'Todos']],
          "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron registros",
            "info": "",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "",
            "search": "Buscar:",
            "paginate": {
              "first": "Primero",
              "last": "Último",
              "next": "",
              "previous": ""
            }
          }


        });
        $('.dataTables_filter').hide(); // ocultar el buscador


      });
    </script>
    
</body>

</html>