<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/headHome.ejs') %>
    <title>Home - Wolf League</title>
</head>

<body>
  <%- include('partials/navHome.ejs') %>

    <!-- Asegúrate de agregar los archivos de JavaScript necesarios de Bootstrap a tu HTML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"
      integrity="sha512-KYU6OC+0xRkAlwksI2FVJyAcnU/7VX9W+u3AXVUZfh6UZsVsfzLbPGowpVl23bjlEGhPkFgC+nD52pwHr00rOA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
      integrity="sha512-mzSZO+5D5kmvX9WdCfZGKFgx0ekiq+5grN+5N5yv3zNZ5W8n+Y5Yccj/soStQ9XkMNhR4QyFrhq4y4ktJm27gA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      // Agrega un evento de click al botón del navbar-toggler para que se abra y cierre el navbar cuando se hace clic en él
      const navbarToggler = document.querySelector('.navbar-toggler');
      const navbarMenu = document.querySelector('.navbar-collapse');

      navbarToggler.addEventListener('click', () => {
        navbarMenu.classList.toggle('show');
      });


    </script>

    <style>
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
    </head>

    <body>
      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/1.jpg">
            <div class="slide-content">
              <h2>Titulo de la diapositiva</h2>
              <p>Subtítulo de la diapositiva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/2.jpg">
            <div class="slide-content">
              <h2>Titulo de la diapositiva</h2>
              <p>Subtítulo de la diapositiva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/3.jpg">
            <div class="slide-content">
              <h2>Titulo de la diapositiva</h2>
              <p>Subtítulo de la diapositiva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/4.jpg">
            <div class="slide-content">
              <h2>Titulo de la diapositiva</h2>
              <p>Subtítulo de la diapositiva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/5.jpg">
            <div class="slide-content">
              <h2>Titulo de la diapositiva</h2>
              <p>Subtítulo de la diapositiva</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>


      <!-- tabla de posiciones -->

      <div class="col-xs-12 col-md-10 col-lg-10 mt-3 mx-auto">
        <h2 class="text-center">Tabla de posiciones ⚽</h2>
        <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
          <thead>
            <tr class="bg-primary text-white">
              <th scope="col">Equipo</th>
              <th scope="col">PJ</th>
              <th scope="col">PG</th>
              <th scope="col">PE</th>
              <th scope="col">PP</th>
              <th scope="col">GF</th>
              <th scope="col">GC</th>
              <th scope="col">DIF</th>
              <th scope="col">PTS</th>
            </tr>
          </thead>
          <tbody>
            <% eliminatoria.forEach((elim)=>{ %>
              <tr>
                <td>
                  <%= elim.nombreEquipo %>
                </td>
                <td>
                  <%= elim.juegos_jugados %>
                </td>
                <td>
                  <%= elim.juegos_ganados %>
                </td>
                <td>
                  <%= elim.juegos_empate %>
                </td>
                <td>
                  <%= elim.juegos_perdidos %>
                </td>
                <td>
                  <%= elim.goles_a_favor %>
                </td>
                <td>
                  <%= elim.goles_en_contra %>
                </td>
                <td>
                  <%= elim.diferencia_goles%>
                </td>
                <td>
                  <%= elim.puntos%>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <script>
        $(document).ready(function () {
          let tabla = $('#miTabla').DataTable();
          tabla.order([8, 'desc']).draw();
        })

      </script>


      <div class="tab">
        <% const idMap=new Map(); %>
          <% resultados.forEach((resultado, index)=> { %>
            <% if (!idMap.has(resultado.jornada)) { %>
              <button class="tablinks <%= index === resultados.length - 1 ? 'active' : '' %>"
                onclick="openTab(event, '<%= resultado.jornada %>')">
                Jornada - <%= resultado.jornada %>
              </button>
              <% idMap.set(resultado.jornada, true); %>
                <% } %>
                  <% }); %>
      </div>

      <% let lastJornada=null; %>
        <% resultados.forEach((resultado, index)=> { %>
          <% if (resultado.jornada !==lastJornada) { %>
            <div id="<%= resultado.jornada %>" class="tabcontent">
              <% } %>
                <div class="container text-center mt-5">
                  <h2 class="text-center">Resultados - Jornada <%= resultado.jornada %> ⚽</h2>
                  <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <img class="team-logo" src="/images/2.jpg" alt="Logo del equipo 1">
                      <h4>
                        <%= resultado.nombreEquipo1 %>
                      </h4>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <h1 class="result">
                        <%= resultado.puntos1 %> - <%= resultado.puntos2 %>
                      </h1>
                      <div class="date-and-stadium">
                        <%= resultado.fecha %>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <img class="team-logo" src="/images/2.jpg" alt="Logo del equipo 2">
                      <h4>
                        <%= resultado.nombreEquipo2 %>
                      </h4>
                    </div>
                  </div>
                </div>
                <% if (index===resultados.length - 1 || resultado.jornada !==resultados[index+1].jornada) { %>
                  <% lastJornada=resultado.jornada; %>
            </div>
            <% } %>
              <% }); %>




                <div class="container text-center mt-5">
                  <h2 class="text-center">Próximos Partidos - Jornada 2 ⚽</h2>
                  <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <img class="team-logo" src="/images/2.jpg" alt="Logo del equipo 1">
                      <h4>Equipo 1</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <h1 class="result">VS</h1>
                      <div class="date-and-stadium">Fecha: 2 de marzo de 2023</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <img class="team-logo" src="/images/2.jpg" alt="Logo del equipo 2">
                      <h4>Equipo 2</h4>
                    </div>
                  </div>
                </div>

                <script>
                  function openTab(evt, tabId) {
                    // Obtenemos todos los elementos con la clase "tabcontent" y los ocultamos
                    const tabcontent = document.querySelectorAll('.tabcontent');
                    tabcontent.forEach(tab => {
                      tab.classList.remove('active');
                    });

                    // Obtenemos todos los elementos con la clase "tablinks" y les quitamos la clase "active"
                    const tablinks = document.querySelectorAll('.tablinks');
                    tablinks.forEach(tab => {
                      tab.classList.remove('active');
                    });

                    // Mostramos el contenido de la pestaña correspondiente y agregamos la clase "active" al botón correspondiente
                    document.getElementById(tabId).classList.add('active');
                    evt.currentTarget.classList.add('active');
                  }

                  // Agregar la clase "active" a todos los elementos con el mismo ID
                  const tabcontents = document.querySelectorAll('.tabcontent');
                  const idMap = new Map();
                  tabcontents.forEach(tabcontent => {
                    const id = tabcontent.getAttribute('id');
                    if (!idMap.has(id)) {
                      idMap.set(id, []);
                    }
                    idMap.get(id).push(tabcontent);
                  });
                  idMap.forEach(tabcontents => {
                    if (tabcontents.length > 1) {
                      tabcontents.forEach(tabcontent => {
                        tabcontent.classList.add('active');
                      });
                    }
                  });
                </script>


                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                  var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 30,
                    centeredSlides: true,
                    autoplay: {
                      delay: 2500,
                      disableOnInteraction: false,
                    },
                    pagination: {
                      el: ".swiper-pagination",
                      clickable: true,
                    },
                    navigation: {
                      nextEl: ".swiper-button-next",
                      prevEl: ".swiper-button-prev",
                    },
                  });
                </script>



    </body>

</html>