<html lang="es">

<head>
    <%- include('partials/headHome.ejs') %>
        <title>Ranking - UCAB SPORT</title>
</head>

<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <div class="content">
        <%- include('partials/navHome.ejs') %>

        <%- include('partials/sliders.ejs') %>


            <div class="col-xs-12 col-md-10 col-lg-11 mx-auto mt-5">
                <h1 class="text-center titulosRankings">RANKING DE <%= ranking[0].nombreDeporte %> 
                </h1>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Carrera</th>
                                    <th scope="col">Puntos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% ranking.forEach((ranking)=>{ %>
                                    <tr>
                                        <td>

                                        </td>
                                        <td>
                                            <%= ranking.nombreJugador %>
                                        </td>
                                        <td>
                                            <%= ranking.nombreCarrera %>
                                        </td>
                                        <td>
                                            <%= ranking.puntos %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <% if (deportes.length> 0) { %>
                <%- include('partials/rankingsDisponibles.ejs') %>
            <% } %>

            <%- include('partials/seccionNoticias.ejs') %>
            <%- include('partials/footer.ejs') %>


    </div> <!-- Cierre del preloader -->

    <%- include('partials/scriptsHome.ejs') %>
        <script>
            $(document).ready(function () {
               
                var tabla = $('#miTabla').DataTable({
                    "order": [[3, "desc"]], // Ordenar por la columna de Puntos en orden descendente
                    lengthMenu: [[10, 20, 30, 50, 100, -1], [10, 20, 30, 50, 100, 'Todos']],
                    columnDefs: [{
                        orderable: false,
                        targets: [0, 1, 2, 3] // deshabilitar ordenamiento en la columna "Acciones"
                    }],
                    "language": {
                        "lengthMenu": "Mostrar TOP _MENU_ ",
                        "zeroRecords": "No se encontraron registros",
                        "info": "",
                        "infoEmpty": "No hay registros disponibles",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)",
                        "search": "Buscar:",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },

                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        var index = iDisplayIndex + 1; // Obtener el índice de la fila después de filtrar y sumar 1
                        $('td:eq(0)', nRow).text(index); // Actualizar el número de posición en la primera columna
                        return nRow;
                    }
                });

                tabla.on('draw.dt', function () {
                    // Obtener las filas visibles en la tabla
                    var rows = tabla.rows({ page: 'current' }).nodes();

                    // Actualizar la posición de ranking para cada fila visible
                    var i, rankingPosition;
                    for (i = 0; i < rows.length; i++) {
                        rankingPosition = tabla.page.info().start + i + 1;
                        $(rows[i]).find('td:eq(0)').text(rankingPosition);
                    }
                });

                tabla.on('page.dt', function () {
                    // Redibujar la tabla después de cambiar de página
                    tabla.draw(false);

                });
                // mostrar variable de nombreDeporte evniada desde el controlador
                let receivedVariable = "<%= deportes.nombreDeporte %>"; // recibimos la variable del controlador
                //Función para filtrar los valores
                function filterTable(receivedVariable) {
                    tabla.search(receivedVariable).draw();
                }
                // Llamamos a la función y le pasamos la variable recibida
                filterTable(receivedVariable);
                // fin de filtrar valores
                $('.dataTables_filter').hide(); // ocultar el buscador
            });


        </script>



</body>

</html>