<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head.ejs') %>
    <title>Dashboard UCAB SPORT</title>
</head>

<body>
  <%- include('partials/navigation.ejs') %>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
        >>> Dashboard
      </div>
      <div class="container">
        <div class="row">
          <h1>Dashboard UCAB SPORT</h1>
          <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
            <a href="/admin/deportes">
                <div class="card shadow-lg" id="deportes">
                  <div class="card-body">
                    <h5 class="card-title">Deportes</h5>
                    <p class="card-text">
                      <%= cantidadDeportes %> <i class='bx bx-world'></i>
                    </p>
                  </div>
                </div>
            </a>
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
            <a href="/admin/equipos">
              <div class="card shadow-lg" id="equipos">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Equipos </h5>
                  <p class="card-text">
                    <%= cantidadEquipos %> <i class='bx bx-football'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
            <div class="card shadow-lg" id="jugadores">
              <a href="/admin/jugadores">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Jugadores </h5>
                  <p class="card-text">
                    <%= cantidadJugadores %> <i class='bx bxs-user-badge'></i>
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
            <a href="/admin/estadios">
              <div class="card shadow-lg" id="estadios">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Estadios </h5>
                  <p class="card-text">
                    <%= cantidadEstadios %> <i class='bx bx-sitemap'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4 mt-5">
            <a href="/admin/partidos">
              <div class="card shadow-lg" id="partidos">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Partidos</h5>
                  <p class="card-text">
                    <%= cantidadPartidos %> <i class='bx bx-sitemap'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4 mt-5">
            <a href="/admin/carreras">
              <div class="card shadow-lg" id="carreras">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Carreras / Unidades </h5>
                  <p class="card-text">
                    <%= cantidadCarreras %> <i class='bx bx-sitemap'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4 mt-5">
            <a href="/admin/usuarios">
              <div class="card shadow-lg" id="users">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Usuarios Administradores</h5>
                  <p class="card-text">
                    <%= cantidadUsers %><i class='bx bx-user'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4 mt-5">
            <a href="/admin/torneos">
              <div class="card shadow-lg" id="torneos">
                <div class="card-body shadow-lg">
                  <h5 class="card-title">Torneos Creados</h5>
                  <p class="card-text">
                    <%= cantidadTorneos %> <i class='bx bxs-trophy'></i>
                  </p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

    <section class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto  mt-3">
            <div id="mensajes">
              <p id="mensaje"></p>
              <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include('partials/scripts.ejs') %>
</body>

</html>