<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/main.css">
        <title>Editar Eliminatoria</title>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
            </div>
            <% if (eliminatoria) { %>

                <div class="container mt-4">
                    <div class="card border-secondary">
                        <div class="card-header">Editar Eliminatoria</div>
                        <div class="card-body">
                            <form action="/updateEliminatoria" method="POST">
                                <div class="mb-3">
                                    <input name="id" value="<%= eliminatoria.id %>" type="hidden">
                                    <select name="codEquipo" id="codEquipo" class="form-select">
                                        <option selected value="<%= eliminatoria.codEquipo %>"><%= eliminatoria.nombreEquipo %></option>
                                        <% equipos.forEach((equipos)=>{ %>
                                            <option value="<%= equipos.codEquipo %>">
                                                <%= equipos.nombreEquipo %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="codTorneo" class="form-label">Torneo</label>
                                    <select name="codTorneo" id="codTorneo" class="form-select">
                                        <option value="<%= eliminatoria.codTorneo %>" selected><%= eliminatoria.nombreTorneo %></option>
                                        <% torneos.forEach((torneos)=>{ %>
                                            <option value="<%= torneos.codTorneo %>">
                                                <%= torneos.nombreTorneo %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="Partidos Jugados" class="form-label">Partidos Jugados</label>
                                    <input value="<%= eliminatoria.juegos_jugados %>" type="number" required
                                        class="form-control" id="juegos_jugados" name="juegos_jugados" tabindex="1">
                                </div>

                                <div class="mb-3">
                                    <label for="Partidos Ganados" class="form-label">Partidos Ganados</label>
                                    <input value="<%= eliminatoria.juegos_ganados %>" type="number" required
                                        class="form-control" id="juegos_ganados" name="juegos_ganados" tabindex="1">
                                </div>
                                <div class="mb-3">
                                    <label for="Partidos Empate" class="form-label">Partidos Empate</label>
                                    <input value="<%= eliminatoria.juegos_empate %>" type="number" required
                                        class="form-control" id="juegos_empate" name="juegos_empate" tabindex="1">
                                </div>
                                <div class="mb-3">
                                    <label for="Partidos Perdidos" class="form-label">Partidos Perdidos</label>
                                    <input value="<%= eliminatoria.juegos_perdidos %>" type="number" required
                                        class="form-control" id="juegos_perdidos" name="juegos_perdidos" tabindex="1">
                                </div>
                                <div class="mb-3">
                                    <label for="Goles a Favor" class="form-label">Goles a Favor</label>
                                    <input value="<%= eliminatoria.goles_a_favor %>" type="number" required
                                        class="form-control" id="goles_a_favor" name="goles_a_favor" tabindex="1">
                                </div>
                                <div class="mb-3">
                                    <label for="Goles en Contra" class="form-label">Goles en Contra</label>
                                    <input value="<%= eliminatoria.goles_en_contra %>" type="number" required
                                        class="form-control" id="goles_en_contra" name="goles_en_contra" tabindex="1">
                                </div>
                                <div class="mb-3">
                                    <label for="Diferencia Goles" class="form-label">Diferencia Goles</label>
                                    <input value="<%= eliminatoria.diferencia_goles %>" type="number" required
                                        class="form-control" id="diferencia_goles" name="diferencia_goles" tabindex="1">
                                </div>

                                <div class="mb-3">
                                    <label for="Puntos" class="form-label">Puntos</label>
                                    <input value="<%= eliminatoria.puntos %>" type="number" required
                                        class="form-control" id="puntos" name="puntos" tabindex="1">
                                </div>



                                <button id="submit-btn" type="submit" class="btn btn-primary"
                                    tabindex="5">Guardar</button>
                                <a href="/admin/eliminatorias" class="btn btn-secondary">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
        <% } %>
            <section class="home-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto">
                            <div id="mensajes">
                                <p id="mensaje"></p>
                                <img class="rounded" src="/../../images/medioAmbiente.png" width="330" height="230">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('partials/scripts.ejs') %>
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>