<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Equipos</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Equipos
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <a href="/admin/crearEquipo" class="btn btn-outline-primary fs-2 btn-block"> Agregar <i class='bx bxs-plus-circle'></i></a> 
        </div> 
        <div class="col-xs-12 mt-3 table-responsive">
          <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">Nombre</th>
                <th scope="col">Deporte</th>    
                <th scope="col">Logo</th>  
                <th scope="col">Acciones</th>           
              </tr>
          </thead>
          <tbody>
            <% equipos.forEach((equipos)=>{ %>
        <tr>  
            <td><%= equipos.nombreEquipo %></td>  
            <td><%= equipos.nombreDeporte %></td>  
            <td><img class="img-fluid text-center mx-auto" src="<%= equipos.imagen ? equipos.imagen : '../images/UCAB-LOBOS.svg' %>" width="55px" height="55px" /></td>  
            <td>
              <a href="/admin/editarEquipo/<%= equipos.codEquipo %>" class="btn btn-outline-info"><i class='bx bxs-pencil fs-5'></i></a>
              <a onclick="confirmar('<%= equipos.codEquipo %>','/admin/deleteEquipo')" class="btn btn-outline-danger">
                <i class='bx bxs-trash'></i></a>
            </td>
        </tr>                                   
     <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section> 

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto">
          <div id="mensajes">
  <p id="mensaje"></p>
  <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
</div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/scripts.ejs') %>
  <script>
    $(document).ready(function() {
    let tabla = $('#miTabla').DataTable();
    tabla.order([1, 'desc']).draw();
    })
    
  </script>
</body>
</html>