<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Partidos </title>
    
</head>
<body>
   <%- include('partials/navigation.ejs') %>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Partidos 
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <a href="/admin/crearPartido" class="btn btn-outline-primary fs-2 btn-block ml-auto"> Agregar <i class='bx bxs-plus-circle'></i></a> 
        </div> 
        <div class="col-xs-12 mt-3 table-responsive">
          <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">J</th> 
                <th scope="col">Torneo</th>           
                <th scope="col">Estadio</th>           
                <th scope="col">Local</th> 
                <th scope="col">Pts</th> 
                <th scope="col">Visitante</th> 
                <th scope="col">Pts</th> 
                <th scope="col">Etapa</th>        
                <th scope="col">Deporte</th>           
                <th scope="col">Fecha</th>           
                <th scope="col">Acciones</th>           
              </tr>
            </thead>
            <tbody>
              <% partidos.forEach((partidos,i)=>{ %>
             
                <tr>  
                  <td><%= partidos.jornada %></td>  
                  <td><%= partidos.nombreTorneo %></td>  
                  <td><%= partidos.nombreEstadio %></td>  
                  <td><%= partidos.equipo1 %></td>  
                  <td><%= partidos.puntos1 %></td>  
                  <td><%= partidos.equipo2 %></td>  
                  <td><%= partidos.puntos2 %></td>  
                  <td><%= partidos.etapa %></td>  
                  <td><%= partidos.nombreDeporte %></td>  
                  <td><%= fecha[i] %></td>  
                    <td>
                      <a href="/admin/editarPartido/<%= partidos.codPartido %>" class="btn btn-outline-info"> <i class='bx bxs-pencil fs-5'></i></a>
                      <a onclick="confirmar('<%= partidos.codPartido %>','/admin/deletePartido')" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                    </td>
                </tr>                                   
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section> 

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto">
          <div id="mensajes">
  <p id="mensaje"></p>
  <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
</div>
        </div>
      </div>
    </div>
  </section>
  
  
  <%- include('partials/scripts.ejs') %>
  <script>
      $(document).ready(function() {
      let tabla = $('#miTabla').DataTable();
      tabla.order([9, 'asc']).draw();
      });
  </script>
</body>
</html>