<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head.ejs') %>
    <title>Ranking Individual</title>
</head>

<body>
  <%- include('partials/navigation.ejs') %>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
        >>> Ranking Individual
      </div>
      <div class="container">
        <div class="row">
          <div class="">
            <a href="/admin/crearRankingIndividual" class="btn btn-outline-primary fs-2 btn-block ml-auto"> Agregar <i
                class='bx bxs-plus-circle'></i></a>
          </div>
          <div class="col-xs-12 mt-3 table-responsive">
            <table class="table table-bordered table-striped text-center mt-4" id="rankingIndividualTabla">
              <thead>
                <tr class="bg-primary text-white">
                  <th scope="col">#</th>
                  <th scope="col">Torneo</th>
                  <th scope="col">Nombre Jugador</th>
                  <th scope="col">Carrera / Unidad</th>
                  <th scope="col">Deporte</th>
                  <th scope="col">Puntos</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% rankini.forEach((rankini)=>{ %>
                  <tr>
                    <td> </td>
                    <td>
                      <%= rankini.nombreTorneo %>
                    </td>
                    <td>
                      <%= rankini.nombreJugador %>
                    </td>
                    <td>
                      <%= rankini.nombreCarrera %>
                    </td>
                    <td>
                      <%= rankini.nombreDeporte %>
                    </td>
                    <td>
                      <%= rankini.puntos %>
                    </td>
                    <td>
                      <a href="/admin/editarRankingRI/<%= rankini.id %>" class="btn btn-outline-info"> <i
                          class='bx bxs-pencil fs-5'></i></a>

                      <a onclick="confirmar('<%= rankini.id %>','/admin/deleteRI')" class="btn btn-outline-danger"><i
                          class='bx bxs-trash'></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div id="mensajes">
              <p id="mensaje"></p>
              <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/scripts.ejs') %>
    <script>
      // Configuracion Tabla Deportes
      $(document).ready(function () {
          initializeTable('rankingIndividualTabla');
      });
  </script>
</body>

</html>