<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
        <title>Ranking Equipos</title>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
                >>> Ranking Equipos
            </div>
            <div class="container">
                <div class="row">
                    <div class="">
                        <a href="/admin/crearRankingEquipos" class="btn btn-outline-primary fs-2 btn-block ml-auto">
                            Agregar
                            <i class='bx bxs-plus-circle'></i></a>
                    </div>
                    <div class="col-xs-12 mt-3 table-responsive">
                        <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Torneo</th>
                                    <th scope="col">Nombre Equipo</th>
                                    <th scope="col">Deporte</th>
                                    <th scope="col">Puntos</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% rankinge.forEach((rankinge)=>{ %>
                                    <tr>
                                        <td> </td>
                                        <td>
                                            <%= rankinge.nombreTorneo %>
                                        </td>
                                        <td>
                                            <%= rankinge.nombreEquipo %>
                                        </td>
                                        <td>
                                            <%= rankinge.nombreDeporte %>
                                        </td>
                                        <td>
                                            <%= rankinge.puntos %>
                                        </td>
                                        <td>
                                            <a href="/admin/editarRankingRE/<%= rankinge.id %>"
                                                class="btn btn-outline-info">
                                                <i class='bx bxs-pencil fs-5'></i></a>

                                            <a onclick="confirmar('<%= rankinge.id %>','/admin/deleteRE')"
                                                class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mx-auto">
                        <div id="mensajes">
                            <p id="mensaje"></p>
                            <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/scripts.ejs') %>
            <script>
                $(document).ready(function () {
                    if ($.fn.DataTable.isDataTable('#miTabla')) {
                        $('#miTabla').DataTable().destroy();
                    }
                    var tabla = $('#miTabla').DataTable({
                        "order": [[3, "desc"]], // Ordenar por la columna de Puntos en orden descendente
                        columnDefs: [{
                            orderable: false,
                            targets: [0, 1, 2, 4] // deshabilitar ordenamiento en la columna "Acciones"
                        }],
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ ",
                            "zeroRecords": "No se encontraron registros",
                            "info": "",
                            "infoEmpty": "No hay registros disponibles",
                            "infoFiltered": "(filtrado de _MAX_ registros totales)",
                            "search": "Buscar:",
                            "paginate": {
                                "first": "Primero",
                                "last": "Último",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            var index = iDisplayIndex + 1; // Obtener el índice de la fila después de filtrar y sumar 1
                            $('td:eq(0)', nRow).text(index); // Actualizar el número de posición en la primera columna
                            return nRow;
                        }
                    });

                    tabla.on('draw.dt', function () {
                        // Obtener las filas visibles en la tabla
                        var rows = tabla.rows({ page: 'current' }).nodes();

                        // Actualizar la posición de ranking para cada fila visible
                        var i, rankingPosition;
                        for (i = 0; i < rows.length; i++) {
                            rankingPosition = tabla.page.info().start + i + 1;
                            $(rows[i]).find('td:eq(0)').text(rankingPosition);
                        }
                    });

                    tabla.on('page.dt', function () {
                        // Redibujar la tabla después de cambiar de página
                        tabla.draw(false);
                    });
                });
            </script>
</body>

</html>