<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Resultados</title>
    
</head>
<body>
   <%- include('partials/navigation.ejs') %>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Resultados
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <a href="/admin/crearResultados" class="btn btn-outline-primary fs-2 btn-block ml-auto"> Agregar <i class='bx bxs-plus-circle'></i></a> 
        </div> 
        <div class="col-xs-12 mt-3 table-responsive table-responsive">
          <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">Jornada</th>
                <th scope="col">Equipo Local</th>
                <th scope="col">Puntos Local</th>    
                <th scope="col">Puntos Visitante</th>           
                <th scope="col">Equipo Visitante</th>           
                <th scope="col">Fecha</th>           
                <th scope="col">Acciones</th>           
              </tr>
            </thead>
            <tbody>
              <% resultados.forEach((resultados,i)=>{ %>
                <tr>  
                    <td><%= resultados.jornada %></td>
                    <td><%= resultados.nombreEquipo1 %></td>
                    <td><%= resultados.puntos1 %></td>
                    <td><%= resultados.puntos2 %></td>
                    <td><%= resultados.nombreEquipo2 %></td>
                    <td><%= fechaResultados[i] %></td>
                    <td>
                      <a href="/admin/editarResultados/<%= resultados.id %>" class="btn btn-outline-info"> <i class='bx bxs-pencil fs-5'></i></a>
                      <a onclick="confirmar('<%= resultados.id %>','/admin/deleteResultados')" class="btn btn-outline-danger"><i
                        class='bx bxs-trash'></i></a>
                    </td>
                </tr>                                   
             <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section> 

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto">
          <div id="mensajes">
  <p id="mensaje"></p>
  <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
</div>
        </div>
      </div>
    </div>
  </section>
  
  
  <%- include('partials/scripts.ejs') %>
  <script>
    $(document).ready(function() {
    let tabla = $('#miTabla').DataTable();
    tabla.order([8, 'desc']).draw();
    })
    
  </script>
</body>
</html>