<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head.ejs') %>
    <title>Torneos</title>

</head>
<body>
  <%- include('partials/navigation.ejs') %>
  
  

    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
        >>> Torneos
      </div>
      <div class="container">
        <div class="row">
          <div class="">
            <a href="/admin/crearTorneo" class="btn btn-outline-primary fs-2 btn-block ml-auto"> Agregar <i
                class='bx bxs-plus-circle'></i></a>
          </div>
          <div class="col-xs-12 mt-3 table-responsive">
            <table class="table table-bordered table-striped text-center mt-4" id="tablaTorneos">
              <thead>
                <tr class="bg-primary text-white">
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha Inicio</th>
                  <th scope="col">Fecha Final</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% torneos.forEach((torneos)=>{ %>
                  <tr>
                    <td>
                      <%= torneos.nombreTorneo %>
                    </td>
                    <td>
                      <%= torneos.fecha_inicio && new Date(torneos.fecha_inicio).getTime() ? new
                        Date(torneos.fecha_inicio).toLocaleDateString('es-ES') : 'Sin definir' %>
                    </td>
                    <td>
                      <%= torneos.fecha_fin && new Date(torneos.fecha_fin).getTime() ? new
                        Date(torneos.fecha_fin).toLocaleDateString('es-ES') : 'Sin definir' %>


                    </td>
                    <td>

                      <a href="/admin/editarTorneo/<%= torneos.codTorneo %>" class="btn btn-outline-info"> <i
                          class='bx bxs-pencil fs-5'></i></a>

                      <a onclick="confirmar('<%= torneos.codTorneo %>','/admin/deleteTorneo')"
                        class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <div class="card border-secondary">
          <div class="card-header">Torneo Publicado</div>
          <div class="card-body">
            <form action="/saveTorneoStatus" method="POST">
              <div class="mb-3">
                <select id="codTorneo" name="codTorneo" class="form-select" aria-label="Default select example"
                  tabindex="2" required>
                  <option selected value="<%= torneosPublicados.codTorneo %>">
                    <%= torneosPublicados.nombreTorneo %>
                  </option>
                  <% torneos.forEach((torneos)=>{ %>
                    <% if(torneos.codTorneo !=torneosPublicados.codTorneo){ %>
                      <option value="<%= torneos.codTorneo %>">
                        <%= torneos.nombreTorneo %> %>
                      </option>
                      <% } %>
                        <% }) %>
                </select>
              </div>
              <div class="mb-3">
                <label for="publicar" class="form-label">Nota(Este será el torneo que aparecerá en la página
                  principal)</label>
                <br>
                <button type="submit" class="btn btn-primary">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div id="mensajes">
              <p id="mensaje"></p>
              <img class="rounded" src="../../images/medioAmbiente.png" width="330" height="230">
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/scripts.ejs') %>
    <script>
      // Configuracion Tabla Equipos
      $(document).ready(function () {
          initializeTable('tablaTorneos');
      });
  </script>

       

     
</body>

</html>