<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head') %>
    <title>Usuarios</title>
    <style>
      .status-circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
      }

      .status-active {
        background-color: green;
      }

      .status-inactive {
        background-color: red;
      }
    </style>
</head>

<body>
  <%- include('partials/navigation') %>

    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
        >>> Usuarios
      </div>
      <div class="container">
        <div class="row">
          <div class="">
            <a href="/register" class="btn btn-outline-primary fs-2 btn-block ml-auto"> Agregar <i
                class='bx bxs-plus-circle'></i></a>
          </div>
          <div class="col-xs-12 mt-3 table-responsive">
            <table class="table table-bordered table-striped text-center mt-4" id="usuariosTabla">
              <thead>
                <tr class="bg-primary text-white">
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% usuarios.forEach((usuarios)=>{ %>
                  <tr>
                    <td>
                      <%= usuarios.email %>
                    </td>
                    <td>
                      <% if (usuarios.status==='active' ) { %>
                        <div class="status-circle status-active"></div>
                        <% } else { %>
                          <div class="status-circle status-inactive"></div>
                          <% } %>
                    </td>
                    <td>

                      <a onclick="confirmar('<%= usuarios.id %>','/admin/deleteUsuarios')"
                        class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div id="mensajes">
              <p id="mensaje"></p>
              <img class="rounded" src="../../../images/medioAmbiente.png" width="330" height="230">
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/scripts') %>
    <script>
      // Configuracion Tabla Deportes
      $(document).ready(function () {
          initializeTable('usuariosTabla');
      });
  </script>
</body>

</html>